@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.Title{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 18vh;  
    background-color: black;
    color:white
}

.Title h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;    
}

.Super{
    display:flex;
    justify-content: center;
}

.CentralContainer{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:5em; 
    margin-left:8em;
    height: 87vh;
}

.Container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
}


.CentralContainer .ImageAndText:first-child{
    flex-basis:40%;
}
.CentralContainer .ImageAndText:nth-child(2){
    flex-basis:40%;
}
.CentralContainer .ImageAndText:nth-child(3){
    flex-basis:40%;
}
.CentralContainer .ImageAndText:last-child{
    flex-basis:40%;
}

.ImageAndText{
  display:flex;
  justify-content: space-evenly;
  margin-top:1em;  
}

.Image{
    width: 15em;
    height: 15em;  
}

.Text{
    display:flex; 
    flex-direction: column;
    justify-content: center;
    width: 21em;
    text-align:left;
    gap:1em;
}

.Text span:first-child{
    display:flex;
    justify-content: center;
     font-family: 'Alfa Slab One', cursive;
     width:13em;
     background-color: black;
     color:white;
}


.Price{   
    display:flex;
    align-items: center;
    font-size: 2em;
}


