.HeroContainer{  
    display:flex;
    justify-content: center;   
}

.navbarContainer{
    display:flex;
    justify-content: space-around;
}

.Left{  
    display:flex;
    justify-content: space-around;
    flex:1;   
}

.Span{
    display:flex;
}

.Center{
    display:flex;
    justify-content: center;
    flex:1;
   
}

.Right{
    display:flex;
    justify-content: center;
    flex:1;
}