@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.Link a{
    text-decoration: none;
    cursor:pointer
}

.HeroContainer{  
    display:flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    font-size: 4em;
    font-family: 'Fascinate';
    text-decoration: underline; 
}

.navbarContainer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    font-size:1.5em;
    font-family: 'Bebas Neue', cursive;   

}

.Left{  
    display:flex;
    justify-content: space-around;
    flex:1;   
}


.Span{
    display:flex;
}

.Center{
    display:flex;
    justify-content: center;
    flex:2;
    font-family: 'Courgette', cursive;   
}

.Right{
    display:flex;
    justify-content: center;
    flex:1;
}

.Right button{
    width:10em;
    height: 2em;
    border:1px solid white;
    background-color: rgb(15, 183, 235);
    color:white;
    border-radius: 10em;  
    
}