@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

.BodyContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* border:2px solid red;   */
}



.FormTextContainer{
    display:flex;
    justify-content: space-evenly;
    flex:1;  
}

.FormContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2em;
    border:2px solid black;
    border-style:dashed;
    height: 64vh;
    flex-basis:25%;
    border-radius: 2em;
}

.TextContainer{
    display:flex;
    border:2px solid black;
    justify-content: space-evenly;
    flex-direction: column;
    height: 64vh;
    flex-basis:30%;
    font-family: 'Oleo Script', cursive;
    font-size:2em;
    border-radius: 2em;
    border-right:1px;
    border-left:1px;
}

.SubText{
    font-size: 0.7em;
}

.FormContainer div{
    display:flex;
    justify-content: center;
    /* border: 2px solid green; */
    width:20em;
    height: 5vh;   
}

.FormContainer div input{
    display:flex;
    justify-content: center;
    flex:1;
    font-size: 1.3em;
}

.button{
    flex:1;
    font-size:1.3em;
}

.Message{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}